@font-face {
  font-family: "Roboto Regular";
  src: url("/dist/font/roboto/roboto-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("/dist/font/roboto/roboto-bold.ttf") format("truetype");
  font-display: swap;
}
