@font-face {
  font-family: "Inter Regular";
  src: url("/dist/font/inter/inter-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter Bold";
  src: url("/dist/font/inter/inter-regular.ttf") format("truetype");
  font-display: swap;
}
