@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto"), local("Roboto Regular"), local("Roboto-Regular"),
    url("/dist/font/roboto/roboto-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto"), local("Roboto Bold"), local("Roboto-Bold"),
    url("/dist/font/roboto/roboto-bold.ttf") format("truetype");
  font-display: swap;
}

@import "./base/base.scss";
@import "./base/generic.scss";
@import "./module/app/app-container.scss";
@import "./module/app/app-inputSection.scss";
@import "./module/app/app-inputWrapper.scss";
@import "./module/app/app-addItem.scss";
@import "./module/app/app-itemCategory.scss";
@import "./module/app/app-addItemButton.scss";
@import "./module/app/app-section.scss";
@import "./module/app/app-items.scss";
@import "./module/app/app-item.scss";
@import "./module/app/app-checkWrapper.scss";
@import "./module/app/app-deleteItem.scss";
