@import "../../base/variables.scss";

.app__add-item-button {
  background-color: $btn-bg-color;
  border-radius: 0.7em;
  color: white;
  padding: 0.7em;
  transition: background-color 0.3s;

  &:hover {
    background-color: $btn-hoved-bg-color;
  }
}
