@import "../../base/variables.scss";

.app__container {
  align-items: center;
  background-color: $container-bg-color;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  min-height: 100svh;
  padding: 0.7em;
  row-gap: 2em;
  width: clamp(320px, 100%, 480px);
}
